aiokafka
annotated-doc
annotated-types
anyio
async-timeout
click
fastapi
h11
idna
packaging
pydantic
pydantic-settings
pydantic_core
python-dotenv
setuptools
starlette
typing-inspection
typing_extensions
uvicorn
wheel
